version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cancer-challenge-app
    volumes:
      - ./reports:/usr/src/app/reports
      - ./analysis:/usr/src/app/analysis
